<?xml version="1.0"?>

<robot name="billi" xmlns:xacro="http://www.ros.org/wiki/xacro">


<!--RIGHT LEG LINK -->
<link name="leg2">
    	<visual>
		<origin rpy="0 0 0" xyz="0 0 0"/>
      		<geometry>
        		<mesh filename="package://billi_sim/models/meshes/leg-upper.stl" scale ="5 5 5"/>
     	 	</geometry>
      		<material name="blue"/>
    	</visual>
				<!-- __________________________________ -->
    	<collision>
		<origin rpy="0 0 0" xyz="0 0 0"/>
      		<geometry>
        		<mesh filename="package://billi_sim/models/meshes/leg-upper.stl" scale ="5 5 5"/>
      		</geometry>
    	</collision>
				<!-- __________________________________ -->
	<inertial>
		  <mass value="1.0"/>
		  <origin rpy="0 0 0" xyz="0 0 0.1"/>
		  <inertia ixx="0.13157" ixy="0" ixz="0" iyy="0.01122" iyz="0" izz="0.14025"/>
	</inertial>
</link>
<gazebo reference="leg2">
        <kp>1000.0</kp>
        <kd>1000.0</kd>
        <mu1>10.0</mu1>
        <mu2>10.0</mu2>
        <material>Gazebo/blue</material>
    </gazebo>
</robot>
