<?xml version="1.0"?>

<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

	<!-- shoulder macro definiction -->
	<xacro:macro name="billi_shoulder" params="name parent *origin reflect_hip reflect_upper reflect_front">
		<!-- Joints -->
		<!-- Hip assembly joint -->
		<!--joint name="${name}_haa_joint" type="revolute">
			<xacro:insert_block name="origin"/>
			<parent link="${parent}"/>
			<child  link="${name}_shoulderassembly"/>
			<axis xyz="0 0 1"/>
			<limit effort="150.0" velocity="12.0" lower="${-7*PI/18}" upper="${PI/6}"/>
		</joint>
		<gazebo reference="${name}_haa_joint">
			<provideFeedback>true</provideFeedback>
			<disableFixedJointLumping>true</disableFixedJointLumping>
		</gazebo-->
		

		<!-- Links -->
		<!-- shoulder assembly link -->
		<link name="shoulder">
			<visual>
			    <!--origin xyz="0 0 0" rpy="${(1-reflect_hip)*PI/2} 0 0"/-->
			    <geometry>
			    <mesh filename="package://billi_sim/models/meshes/shoulder.stl" scale="1 1 1"/>
			    </geometry>
			</visual>
			<collision>
			    <!--origin xyz="0 0 0" rpy="${(1-reflect_hip)*PI/2} 0 0"/-->
			    <geometry>
			        <mesh filename="package://billi_sim/models/meshes/shoulder.stl" scale="1 1 1"/>
				</geometry>
			</collision>
			<inertial>
			    <origin xyz="0 0 0"/>
			    <mass value="1.0"/>
			    <inertia ixx="0.1" ixy="0.0" ixz="0.0" iyy="0.1" iyz="0.0" izz="0.1"/>
			</inertial>	
		</link>
		<gazebo reference="shoulder"/>
		
	</xacro:macro>
</robot>
