<?xml version="1.0"?>
<launch>
    <arg name="ugv_name" default="billi"/>
    <arg name="namespace" default="$(arg ugv_name)"/>
    <arg name="model" default="$(find billi_sim)/models/urdf/billi.xacro"/>
    <arg name="tf_prefix" default="billi"/>
    <arg name="x" default="0.0"/>
    <arg name="y" default="0.0"/>
    <arg name="z" default="1.0"/>
    <arg name="enable_logging" default="false"/>
    <arg name="enable_ground_truth" default="true"/>
    <arg name="log_file" default="$(arg ugv_name)"/>

    <param name="robot_description" command="
    $(find xacro)/xacro '$(arg model)'
    ugv_name:=$(arg ugv_name)
    namespace:=$(arg namespace)"
    />
    <param name="tf_prefix" type="string" value="$(arg tf_prefix)" />

    <node name="spawn_$(arg namespace)" pkg="gazebo_ros" type="spawn_model"
    args="-param robot_description
          -urdf
          -x $(arg x)
          -y $(arg y)
          -z $(arg z)
          -model $(arg namespace)"
    respawn="false" output="screen">
   </node>

</launch>
