<?xml version="1.0"?>

<robot name="hyq" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:property name="PI" value="3.1415926535897931"/>
  <xacro:property name="d_lr" value="0.414"/>
  <xacro:property name="d_fh" value="0.747"/>
  <xacro:property name="d_tbb" value="0.082"/>
  <xacro:property name="d_p1p2" value="0.35"/>

	<!-- HyQ trunk -->
	<xacro:include filename="$(find towr_simulator)/models/urdf/trunk.xacro"/>

	<!-- HyQ legs -->
	<xacro:include filename="$(find towr_simulator)/models/urdf/leg.xacro"/>

	<gazebo>
		<plugin name="gazebo_ros_control" filename="libgazebo_ros_control.so"/>
	</gazebo>

	<!-- Using the macros defined above -->
	<!-- trunk -->
	<xacro:hyq_trunk name="base"/>

	<!-- rh leg -->
	<xacro:hyq_leg
		name="lf"
		parent="trunk"
		reflect_hip="1"
		reflect_upper="1"
		reflect_front="1">
		<origin xyz="${d_fh/2} ${d_lr/2} 0" rpy="0 ${PI/2} ${PI}"/>
	</xacro:hyq_leg>

	<!-- RF leg -->
	<xacro:hyq_leg
		name="rf"
		parent="trunk"
		reflect_hip="-1"
		reflect_upper="-1"
		reflect_front="1">
		<origin xyz="${d_fh/2} ${-d_lr/2} 0" rpy="0 ${PI/2} 0"/>
	</xacro:hyq_leg>

	<!-- LH leg -->
	<xacro:hyq_leg
		name="lh"
		parent="trunk"
		reflect_hip="-1"
		reflect_upper="1"
		reflect_front="-1">
		<origin xyz="${-d_fh/2} ${d_lr/2} 0" rpy="0 ${PI/2} ${PI}"/>
	</xacro:hyq_leg>

	<!-- RH leg -->
	<xacro:hyq_leg
		name="rh"
		parent="trunk"
		reflect_hip="1"
		reflect_upper="-1"
		reflect_front="-1">
		<origin xyz="${-d_fh/2} ${-d_lr/2} 0" rpy="0 ${PI/2} 0"/>
	</xacro:hyq_leg>

	<gazebo>
		<plugin name="joint_state_publisher" filename="libgazebo_ros_joint_state_publisher.so">
		  <jointName>lf_haa_joint, lf_hfe_joint, lf_kfe_joint, lh_haa_joint, lh_hfe_joint, lh_kfe_joint,rf_haa_joint, rf_hfe_joint, rf_kfe_joint, rh_haa_joint, rh_hfe_joint, rh_kfe_joint</jointName>
		  <updateRate>60.0</updateRate>
		  <alwaysOn>true</alwaysOn>
		</plugin>
	  </gazebo>
	
		<!-- transmissions -->
		<xacro:macro name="trans" params="num name part">
			<transmission name="tran${num}">
			<joint name="${name}_${part}_joint">
				<hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
			</joint>
			<type>transmission_interface/SimpleTransmission</type>
			<actuator name="servo${num}">
				<hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
				<mechanicalReduction>1</mechanicalReduction>
			</actuator>
			</transmission>
		</xacro:macro>

		<xacro:trans num="1" name="lf" part="haa"/>
		<xacro:trans num="2" name="lf" part="hfe"/>
		<xacro:trans num="3" name="lf" part="kfe"/>
		<xacro:trans num="4" name="lh" part="haa"/>
		<xacro:trans num="5" name="lh" part="hfe"/>
		<xacro:trans num="6" name="lh" part="kfe"/>
		<xacro:trans num="7" name="rf" part="haa"/>
		<xacro:trans num="8" name="rf" part="hfe"/>
		<xacro:trans num="9" name="rf" part="kfe"/>
		<xacro:trans num="10" name="rh" part="haa"/>
		<xacro:trans num="11" name="rh" part="hfe"/>
		<xacro:trans num="12" name="rh" part="kfe"/>

</robot>